extends ../../../layouts/admin-layout

block script
    script(src="/admin/js/theme/switchery.min.js")
    //- script(src="/admin/js/theme/posts.js")
    style.
        .deletePostBtn {
            border: none;
            background: none;
            padding : 0px!important;
        }
    script.
        // Switchery Init
        var elems = Array.prototype.slice.call(document.querySelectorAll('.js-switch'));
        elems.forEach(function(html) {
            var switchery = new Switchery(html);
        });
        var publishPost = document.querySelectorAll('.publishPost');
        for(let i = 0; i < publishPost.length; i++ ){
            publishPost[i].addEventListener("change", function(event){
                let dataId = $(this).attr('data-id');
                let body = { data : publishPost[i].checked, postId : dataId}
                fetch("/admin/posts/publish-post", {
                    method : "POST",
                    cache : "no-cache",
                    headers : {
                        "Content-Type" : "application/json"
                    },
                    body : JSON.stringify(body)
                }).then(data => {
                    data.json().then(body => {
                        if(body.success){
                            new PNotify({
                                title: 'Publish Post Successfuly',
                                text: "Post Publish updated successfuly",
                                addclass: 'bg-success border-success'
                            });
                        }
                    })
                })
            })
        }

        var allowComments = document.querySelectorAll('.allowComments');
        for(let i = 0; i < allowComments.length; i++ ){
            allowComments[i].addEventListener("change", function(event){
                let dataId = $(this).attr('data-id');
                let body = { data : allowComments[i].checked, postId : dataId}
                fetch("/admin/posts/allow-comments", {
                    method : "POST",
                    cache : "no-cache",
                    headers : {
                        "Content-Type" : "application/json"
                    },
                    body : JSON.stringify(body)
                }).then(data => {
                    data.json().then(body => {
                        if(body.success){
                            new PNotify({
                                title: 'Allow Comments Updated',
                                text: "Post Allow Comments updated successfuly",
                                addclass: 'bg-success border-success'
                            });
                        }
                    })
                })
            })
        }

        
       
block content
    .row
        .col
            .card
                .card-header
                    h5 My Posts
                .card-body
                    if posts.length <= 0
                        h2 There no have post
                    else
                        table.table.datatable-basic
                            thead
                                tr
                                th ID
                                th Title
                                th Description
                                th Author
                                th Category   
                                th Publish
                                th Allow Comments
                                th General Status
                                th.text-center Actions
                                        
                            tbody
                                each post in posts
                                    if !post.unpublish
                                        tr
                                            td #{post._id}
                                            td #{post.title}
                                            td #{post.desc}
                                            td #{post.user.name}
                                            td #{post.category.name}  
                                            if !post.unpublish
                                                td 
                                                    input(type="checkbox" disabled=post.unpublish data-id=`${post._id}` checked=post.publishPost   placeholder="Enter a description" data-switchery="true" style="display:none").form-control.js-switch.publishPost
                                                td
                                                    input(type="checkbox" disabled=post.unpublish data-id=`${post._id}` checked=post.allowComments placeholder="Enter a description" data-switchery="true" style="display:none").form-control.js-switch.allowComments
                                            else 
                                                td 
                                                    input(type="checkbox" disabled=post.unpublish  checked=post.publishPost   placeholder="Enter a description" data-switchery="false" style="display:none").form-control.js-switch
                                                td
                                                    input(type="checkbox" disabled=post.unpublish  checked=post.allowComments placeholder="Enter a description" data-switchery="false" style="display:none").form-control.js-switch
                                            if !post.unpublish
                                                td(style="color : green; font-weight:bold;") Published
                                                td.text-center
                                                    .list-icons
                                                    .dropdown
                                                        a.list-icons-item(href='#', data-toggle='dropdown')
                                                            i.icon-menu9
                                                        .dropdown-menu.dropdown-menu-right
                                                            a.dropdown-item(href=`/${post.slug}`)
                                                                i.icon-eye
                                                                |  View Post
                                                            a.dropdown-item(href=`/admin/posts/my-posts/edit/${post._id}`)
                                                                i.icon-pencil4
                                                                |  Edit Post
                                                            a.dropdown-item
                                                                i.icon-trash-alt
                                                                form(method="post" action=`/admin/posts/my-posts/${post._id}?_method=DELETE`)
                                                                    button(type="submit" class="deletePostBtn") Delete Post
                                            else 
                                                td 
                                                    span(style="color : red; font-weight:bold;") Post unpublished by Admin
                                                td.text-center 
                                                    i.icon-cancel-square
                                    else 
                                        tr(style="background: #ffeaea;")
                                            td #{post._id}
                                            td #{post.title}
                                            td #{post.desc}
                                            td #{post.user.name}
                                            td #{post.category.name} 
                                            if !post.unpublish
                                                td 
                                                    input(type="checkbox" disabled=post.unpublish data-id=`${post._id}` checked=post.publishPost   placeholder="Enter a description" data-switchery="true" style="display:none").form-control.js-switch.publishPost
                                                td
                                                    input(type="checkbox" disabled=post.unpublish data-id=`${post._id}` checked=post.allowComments placeholder="Enter a description" data-switchery="true" style="display:none").form-control.js-switch.allowComments
                                            else 
                                                td 
                                                    input(type="checkbox" disabled=post.unpublish  checked=post.publishPost   placeholder="Enter a description" data-switchery="false" style="display:none").form-control.js-switch
                                                td
                                                    input(type="checkbox" disabled=post.unpublish  checked=post.allowComments placeholder="Enter a description" data-switchery="false" style="display:none").form-control.js-switch
                                            if !post.unpublish
                                                td(style="color : green; font-weight:bold;") Published
                                                td.text-center
                                                    .list-icons
                                                    .dropdown
                                                        a.list-icons-item(href='#', data-toggle='dropdown')
                                                            i.icon-menu9
                                                        .dropdown-menu.dropdown-menu-right
                                                            a.dropdown-item(href=`/${post.slug}`)
                                                                i.icon-eye
                                                                |  View Post
                                                            a.dropdown-item(href=`/admin/posts/my-posts/edit/${post._id}`)
                                                                i.icon-pencil4
                                                                |  Edit Post
                                                            a.dropdown-item
                                                                i.icon-trash-alt
                                                                form(method="post" action=`/admin/posts/my-posts/${post._id}?_method=DELETE`)
                                                                    button(type="submit" class="deletePostBtn") Delete Post
                                            else 
                                                td 
                                                    span(style="color : red; font-weight:bold;") Post unpublished by Admin
                                                td.text-center 
                                                    i.icon-cancel-square
                                            
                                            

                                